/* ====================================================================Login Page CSS =========================================================================*/

.swift-login-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 25px;
}

.swift-login-main .swift-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 5px 55px 50px 55px;
}

.swift-login-main .swift-login-form {
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgba(1, 22, 39, 0.15);
  flex-direction: column;
  padding: 20px 35px;
  justify-content: space-between;
}

.swift-login-main .swift-login-form-div-1 {
  flex-grow: 1;
}
.swift-login-main .swift-login-loginform-heading {
  color: var(--text-color);
  font-size: var(--font-large);
  font-style: normal;
  font-weight: var(--font-weight-heavy);
  line-height: normal;
  letter-spacing: -1.2px;
  padding-bottom: 30px;
}

.swift-login-main .swift-login-loginform-otp {
  padding-top: 35px;
}
.swift-login-main .swift-login-form-generate {
  color: var(--text-color);
  font-size: var(--font-medium);
  font-style: normal;
  font-weight: var(--font-weight-heavy);
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 0px;
  border: none;
  cursor: pointer;
  background: none;
}
.swift-login-main .swift-login-form-wait {
  color: var(--text-color);

  font-size: var(--font-small);
  font-style: italic;
  font-weight: var(--font-weight-light);
  line-height: normal;
  letter-spacing: -0.65px;
  padding-bottom: 17px;
}

.swift-login-main .swift-login-form-btn {
  width: 300px;
  height: 50px;
  margin: 30px 10px 0px 10px;
}

.swift-login-main .swift-login-form-otp-input {
  width: 160px;
  height: 60px;
}

.swift-login-main .swift-login-form-email-input {
  width: 100%;
  height: 60px;
}

/* ====================================================================Pin Page CSS =========================================================================*/

.swift-login-main .swift-login-form-error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.swift-login-main .swift-login-form-reset-pin {
  color: var(--text-color);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-heavy);
  line-height: normal;
  letter-spacing: -0.65px;
  margin-bottom: 0px;
  border: none;
  cursor: pointer;
  background: none;
}

/* ====================================================================Reset Page CSS =========================================================================*/
.swift-login-main .swift-login-form-heading {
  color: var(--text-color);
  font-size: var(--font-large);
  font-style: normal;
  font-weight: var(--font-weight-heavy);
  line-height: normal;
  letter-spacing: -1.2px;
}
.swift-login-main .swift-login-form-reset {
  color: var(--text-color);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-heavy);
  line-height: normal;
  letter-spacing: -0.65px;
  padding-top: 12px;
  padding-bottom: 20px;
}

.swift-login-main .swift-login-form-confirmpin-input,
.swift-login-main .swift-login-form-pin-input,
.swift-login-main .swift-login-form-pin-input1,
.swift-login-main .swift-login-form-otp-input {
  width: 160px;
  height: 60px;
}

.swift-login-main .swift-login-form-validate-btn {
  width: 90px;
  padding: 10px 20px;
  margin: 10px 0px;
  font-size: 14px !important;
  letter-spacing: -0.7px !important;
}

/* ====================================================================Reset Successful Page CSS =========================================================================*/

.swift-login-main .swift-login-form-svg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  flex-grow: 50;
}

.swift-login-main .swift-login-form-svg p {
  font-size: var(--font-small);
}

/* ======================================================================Login Page CSS =========================================================================*/

@media only screen and (max-width: 1200px) {
  .swift-login-main .swift-login-info-wrapper {
    width: 50%;
    margin: auto;
  }

  .swift-login-main .swift-login-info {
    width: 100%;
  }

  .swift-login-main .swift-login-form {
    margin: auto;
  }
}

@media only screen and (max-width: 900px) {
  body {
    height: 100% !important;
  }
  .swift-login-main {
    padding-top: 20px;
  }

  .swift-login-main .swift-login {
    padding: 10px;
    flex-direction: column;
    row-gap: 20px;
  }

  .swift-login-main .swift-login-info-wrapper,
  .swift-login-main .swift-login-form {
    margin: auto;
    justify-content: center;
    height: fit-content;
  }
  .swift-login-main .swift-login-form {
    min-height: 500px;
  }

  .swift-login-main .swift-login-info-wrapper {
    width: 100%;
  }
  .swift-login-main .swift-login-info {
    flex-direction: column;
  }

  .swift-login-main .swift-login-info-inner {
    flex-direction: column;
    row-gap: 20px;
  }
  .swift-login-main .swift-login-info-2 {
    width: 100%;
    flex-direction: column;
  }

  .swift-login-main .swift-login-info-wrapper {
    order: 1;
  }
}

@media only screen and (max-width: 500px) {
  .swift-login-main .swift-login {
    padding: 10px;
  }

  .swift-login-main .backButton {
    padding-left: 10px !important;
  }
}

@media only screen and (max-width: 410px) {
  .swift-login-main .swift-login-form {
    padding: 20px 20px;
  }
  .swift-login-main .swift-custom-input-box {
    margin-left: -10px !important;
  }
  .swift-login-main .backButton {
    padding-left: 10px !important;
  }
}

@media only screen and (max-width: 380px) {
  .swift-login-main .swift-login-form-btn {
    width: 250px;
    height: 50px;
  }
}

@media only screen and (max-width: 330px) {
  .swift-login-main .swift-login-form-btn {
    width: 200px;
    height: 50px;
  }
}

@media (min-width: 900px) and (max-height: 711px) {
  .swift-login-main .swift-login {
    padding: 5px 55px 10px 55px;
    /* margin-top: -35px; */
  }
  .swift-login-main {
    padding-top: 15px;
  }
  .swift-login-main .swift-login-form-confirmpin-input,
  .swift-login-main .swift-login-form-pin-input,
  .swift-login-main .swift-login-form-otp-input {
    width: 160px;
    height: 50px;
  }
  .swift-login-main .swift-login-form {
    padding: 15px 30px 15px 30px;
  }
  .swift-login-main .swift-login-form-btn {
    margin-top: 20px;
  }
  .swift-login-main .swift-login-loginform-otp {
    padding-top: 15px;
  }
}

/* ====================================================================Reset Page CSS =========================================================================*/
@media (min-width: 900px) and (max-height: 711px) {
  .swift-login-main .swift-login-form-reset {
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 5px; */
  }
}
