.custom-checkbox-label {
  color: rgba(0, 0, 0, 0.7);
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.65px;
}

.custom-checkbox{
    display: flex;
    /* justify-content: center; */
    column-gap: 7px;
}