.swift-accounts-strategy {
  width: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid rgba(1, 22, 39, 0.05);
  padding: 10px 13px;

}

.swift-accounts-strategy-content {
  color: rgba(1, 22, 39, 0.9);
  font-size: var(--font-small);
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: normal;
  letter-spacing: -0.6px;
}

.swift-accounts-strategy-content.isClicked {
  color: rgba(1, 22, 39, 0.30);
}

.swift-accounts-strategy-delete {
    color: rgba(0, 0, 0, 0.50);
    font-size: var(--font-btn);
    font-style: italic;
    font-weight: var(--font-weight-light);
    line-height: normal;
    letter-spacing: -0.7px;
    display: flex;
    justify-content: flex-end;
  }
